/* Canvas styling */
canvas {
	position: absolute;
	background-color: rgb(42, 27, 61);
	top: 0;
	left: 0;
	z-index: -1;
}

.settings {
	padding: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: hsl(266, 40%, 27%, 0);
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.MuiSlider-root,
.sliderText,
.settings button {
	opacity: 0;
	pointer-events: none;
}

.MuiSlider-root {
	color: var(--light-text-color);
}

.MuiSlider-thumb:hover {
	box-shadow: none;
}

.settingsWrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.settings.active {
	background-color: hsl(266, 40%, 27%, 1);
}

.settings.active * {
	pointer-events: all;
	opacity: 1;
}

.settings svg {
	width: 5rem;
	height: 5rem;
	margin-top: 2rem;
	fill: var(--light-text-color);
	cursor: pointer;
}

.settings button {
	margin-left: 3rem;
	margin-top: 2rem;
}

.settings svg:hover,
.settings button:hover {
	filter: drop-shadow(0 0 10px var(--glowing-color))
		drop-shadow(0 0 20px var(--glowing-color))
		drop-shadow(0 0 40px var(--glowing-color))
		drop-shadow(0 0 80px var(--glowing-color)) opacity(95%);
}

.sliderText {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
}
